<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    versionName="1.0"
    compileSdkVersion="36"
    compileSdkVersionCodename="16"
    package="com.redhand.laugiytr"
    platformBuildVersionCode="36"
    platformBuildVersionName="16"
    android:tag="⟨STRING_DECODE_ERROR⟩">
    <uses-sdk
        minSdkVersion="24"
        targetSdkVersion="36"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.INTERNET"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.FOREGROUND_SERVICE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.REQUEST_INSTALL_PACKAGES"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.QUERY_ALL_PACKAGES"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.BIND_VPN_SERVICE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.ACCESS_NETWORK_STATE"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.WAKE_LOCK"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <permission
        android:name="com.redhand.laugiytr.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <uses-permission
        name="com.redhand.laugiytr.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:tag="⟨STRING_DECODE_ERROR⟩"/>
    <application
        theme="@NP_MANAGER15/NP_MANAGER_res_0x7f0f02b9"
        android:label="@NP_MANAGER14/NP_MANAGER_res_0x7f0e001c"
        android:icon="@NP_MANAGER7/NP_MANAGER_res_0x7f07009f"
        allowBackup="false"
        supportsRtl="true"
        android:fullBackupContent="false"
        android:roundIcon="@NP_MANAGER7/NP_MANAGER_res_0x7f07009f"
        appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:tag="⟨STRING_DECODE_ERROR⟩">
        <activity
            theme="@NP_MANAGER15/NP_MANAGER_res_0x7f0f02b9"
            name="com.redhand.laugh.MainActivity"
            exported="true"
            screenOrientation="1"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.intent.action.MAIN"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </activity>
        <service
            name="com.redhand.laugh.VpnController"
            permission="android.permission.BIND_VPN_SERVICE"
            exported="false"
            android:foregroundServiceType="specialUse"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.net.VpnService"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.redhand.laugh.InstallResultReceiver"
            exported="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="com.redhand.install.SESSION_API_PACKAGE_INSTALLED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.redhand.laugh.BootManager"
            exported="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
                <action
                    android:name="android.intent.action.LOCKED_BOOT_COMPLETED"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
        <provider
            name="androidx.core.content.FileProvider"
            exported="false"
            authorities="com.redhand.laugiytr.provider"
            grantUriPermissions="true"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@NP_MANAGER17/NP_MANAGER_res_0x7f110002"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
        </provider>
        <provider
            name="androidx.startup.InitializationProvider"
            exported="false"
            authorities="com.redhand.laugiytr.androidx-startup"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"
                android:tag="⟨STRING_DECODE_ERROR⟩"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            permission="android.permission.DUMP"
            enabled="true"
            exported="true"
            directBootAware="false"
            android:tag="⟨STRING_DECODE_ERROR⟩">
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.profileinstaller.action.SAVE_PROFILE"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
            <intent-filter android:tag="⟨STRING_DECODE_ERROR⟩">
                <action
                    android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"
                    android:tag="⟨STRING_DECODE_ERROR⟩"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
